@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

:root {
  --lato: "Lato", sans-serif;
  --Montserrat: "Montserrat", sans-serif;
  --playfair: "Playfair Display", serif;
  /*color 🌈*/
  --grisPrincipal: #3c3c3c;
  --cafePrincipal: #686157;
  --fondoDegradado: linear-gradient(to left, #3c3c3c, #686157);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  font-family: helvetica;
  font-size: 16px;
  line-height: 24px;
  background: linear-gradient(to top, #e4e4e4, #daccba);
}
.ancho {
  max-width: 1200px;
  margin: auto;
}
.flexHorizontal {
  display: flex;
}
h1 {
  font-family: var(--playfair);
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: var(--grisPrincipal);
  margin-bottom: 30px;
}
h1 i {
  color: var(--cafePrincipal);
}
.subtitulo {
  color: var(--grisPrincipal);
  font-family: var(--lato);
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  padding: 0 20%;
}
.imaginarie {
  margin-bottom: 30px;
}
.divisor {
  height: 5px;
  width: 100px;
  background-color: var(--grisPrincipal);
}
.horizontalSection {
  display: flex;
}
.izqArticle {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.izqArticle h1 {
  line-height: normal;
  text-align: start;
}
.izqArticle .subtitulo {
  padding: 0px;
  font-size: 18px;
  color: var(--grisPrincipal);
}
.izqArticle i {
  color: var(--cafePrincipal);
}
.hideMobile {
  display: none;
}

/*Encabezado ⬆️*/
header {
  background-color: var(--grisPrincipal);
  color: #bebebe;
  width: 100%;
  font-family: var(--Montserrat);
  font-weight: 300;
}
.headerContenido {
  justify-content: space-between;
  padding: 13px 0;
}

.contactoElemento {
  align-items: center;
}
.contactoElemento p {
  padding: 0 10px;
}
.iconosRedes {
  font-size: 22px;
  width: 13%;
  justify-content: space-between;
  align-items: center;
}
.iconosRedes a {
  text-decoration: none;
  color: #bebebe;
}
/*segundo header (logo y menú) ⬆️😳*/
.segundoHeader {
  justify-content: space-between;
  padding: 25px 0 0 0;
  display: flex;
  justify-content: space-between;
  z-index: 9;
  position: absolute;
  width: 100%;
  left: 50%; /* Centrar inicialmente respecto al borde izquierdo */
  transform: translateX(-50%); /* Corregir centrado utilizando transform */
  max-width: 1200px; /* Longitud máxima de 1200 px */
}
.logo {
  align-items: center;
  display: flex;
}
.logo img {
  width: 159px;
  height: 40px;
}
.logo i {
  display: none;
}
#menu {
  font-family: var(--Montserrat);
  font-weight: 600;
  font-size: 14px;
  list-style: none;
  align-items: center;
}
.link a {
  text-decoration: none;
  color: var(--grisPrincipal);
  margin: 0 15px;
  transition: all 0.3s;
}
.link a:hover {
  color: var(--cafePrincipal);
  text-decoration: underline;
}
/* Slide de fotos ✨✨✨✨✨✨✨✨ */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
.callbacks_container {
  position: relative;
  margin: auto;
}
.callbacks_container img {
  height: 120vh;
  object-fit: cover;
}
.callbacks_container ul {
  margin: 0px;
}

.bannerContenedor {
  height: 100vh;
  display: flex;
  position: absolute;
  left: 10%;
  width: 100%;
}
.vacio {
  width: 50%;
}
.textoBanner {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 0 0 70px;
}
.textoBanner h1 {
  font-family: var(--playfair);
  font-size: 60px;
  line-height: normal;
  color: var(--grisPrincipal);
}
.textoBanner p {
  font-family: var(--Montserrat);
  font-size: 16px;
  color: var(--grisPrincipal);
  margin: 20px 0;
}
.btnGris {
  background-color: var(--grisPrincipal);
  padding: 10px 40px;
  border-radius: 30px;
  text-decoration: none;
  font-family: var(--playfair);
  font-size: 20px;
  font-weight: 700;
  transition: all 0.3s;
  text-decoration: none;
  color: #fff;
}
.btnGris:hover {
  background-color: #686157;
}
.callbacks_nav {
  position: absolute;
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 50px;
  width: 30px;
  background: transparent url("images/flechas.png") no-repeat left top;
  filter: brightness(20%);
  margin-top: -45px;
}
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
}

/*modal ❇️*/
.fondo_modal {
  display: none;
  padding: 100px 10px;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.8);
}
.contenido_modal {
  background-color: #fff;
  border-radius: 8px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 15px 20px 30px 20px;
}
.inputmodal {
  /* Estilo base para el input */
  width: 300px; /* Puedes ajustar el ancho según tus preferencias */
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.inputmodal:focus {
  /* Otras propiedades opcionales para resaltar el input cuando está enfocado */
  border-color: var(--cafePrincipal);
  box-shadow: 0 0 5px rgba(104, 97, 87, 0.5);
  outline: none;
}

.contenido_modal button {
  margin-top: 10px;
}
.icono {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.icono i {
  color: var(--cafePrincipal);
  font-size: 22px;
  cursor: pointer;
}

/*carrousel 🎪*/
.tarjetasBanner {
  display: flex;
  justify-content: space;
  position: absolute;
  z-index: 9;
  top: -140px;
}
.tarjetaBanner {
  width: 50%;
  height: 300px;
  background-color: var(--grisPrincipal);
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  transition: all 0.2s;
}
.tarjetaBanner:hover {
  background-color: var(--cafePrincipal);
}
.tarjetaBanner i {
  font-size: 60px;
  margin-bottom: 20px;
}
.tarjetaBanner h2 {
  font-family: var(--playfair);
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 15px;
}
.tarjetaBanner p {
  font-family: var(--Montserrat);
  font-size: 16px;
}

/*Acordeon 🪗*/

.acordeon {
  max-width: 70%;
  width: 100%;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tituloAcordeon {
  height: 300px;
  width: 150px;
  border: 3px solid var(--cafePrincipal);
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.tituloAcordeon:hover {
  border: 3px solid #58695d;
}
.tituloAcordeon:hover h2 {
  color: #58695d;
}
.tituloAcordeon h2 {
  transform: rotate(270deg); /* Rota cada letra 180 grados */
  white-space: wrap; /* Evita que el texto se desborde horizontalmente */
  color: var(--grisPrincipal);
  font-family: var(--playfair);
  font-size: 30px;
  line-height: normal;
  transition: all 0.2s;
}
.contenidoAcordeon {
  font-family: var(--Montserrat);
  height: 300px;
  max-width: 400px;
  padding: 5px 10px;
  display: none;
  border-top: none;
  border: 3px solid var(--cafePrincipal);
  border-left: none;
  flex-direction: row;
  overflow: hidden;
}

/*Parallax*/
.parallax {
  margin-top: 100px;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 50px 0;
}

.parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/parallax.webp");
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(50%) grayscale(100%);
}
.contenedorTitulo h1 {
  color: white;
  filter: brightness(100%);
  margin-bottom: 20px;
}
.contenedorTitulo .subtitulo {
  color: white;
  filter: brightness(100%);
  padding: 0 35%;
}
.contenedorCards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 60px;
}
.singleCard {
  display: flex;
  flex-direction: column;
  background-color: var(--grisPrincipal);
  width: 300px;
  padding-bottom: 20px;
  transition: all 0.2s;
}
.singleCard img {
  height: 350px;
  object-fit: cover;
  z-index: 0;
}

.singleCard h2 {
  color: white;
  margin-top: 20px;
  text-align: center;
  font-family: var(--playfair);
  font-size: 28px;
}
.singleCard h3 {
  color: white;
  margin-top: 5px;
  text-align: center;
  font-family: var(--Montserrat);
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0 15px 0;
}
.singleCard .iconosRedes {
  width: 100px;
  display: flex;
  margin: auto;
}
.singleCard:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); /* Agrega una sombra al hacer hover */
}

.singleCard:hover img {
  filter: grayscale(
    100%
  ); /* Convierte la imagen a blanco y negro al hacer hover */
}
.singleCard {
  position: relative;
}

.figurita {
  position: absolute;
  top: 41%;
  left: -0%;
  width: 100%;
  height: 150px; /* Puedes ajustar la altura según tus necesidades */
  overflow: hidden;
  z-index: 1; /* Asegura que esté por encima de la imagen */
}

/*GALERIA FANCYBOX*/
.galeria {
  display: flex;
  justify-content: center;
  width: 70%;
}
.fotos {
  width: 350px;
  height: 200px;
  display: block;
  cursor: zoom-in;
  margin: 5px;
  transition: all 0.5s;
}
.fotos:hover {
  filter: grayscale(100%) brightness(70%);
}
.fancybox {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.margenAbajo {
  margin-bottom: 40px;
}

/*video responsive*/
.videoSection {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedorVideo {
  position: relative;
  padding-bottom: 44.25%; /* Proporción 16:9 para hacer el contenedor responsive */
  height: 0;
  overflow: hidden;
  width: 80%;
}

.contenedorVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*Ancla pa subir*/
.anclaSubir {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--grisPrincipal);
  color: #fff;
  border: none;
  border-radius: 0px;
  padding: 10px;
  cursor: pointer;
}
/*footer*/
footer {
  background-color: var(--grisPrincipal);
  display: flex;
  flex-direction: column;
  color: white;
  text-align: start;
  padding: 30px 0;
}
footer .ancho {
  display: flex;
  flex-direction: row;
}
footer p {
  color: #bebebe;
}

.tercioArticle {
  color: white;
  width: 33%;
  margin-bottom: 20px;
}
.tercioArticle p {
  margin-top: 20px;
  color: #bebebe;
  text-align: start;
  padding: 0%;
  padding-right: 100px;
  font-family: var(--Montserrat);
}
.tercioArticle h2 {
  font-family: var(--playfair);
}
.tercioArticle .iconosRedes {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.tercioArticle .iconosRedes i {
  margin: 20px;
}
.footerTexto {
  text-align: center;
  font-family: var(--Montserrat);
  color: #bebebe;
}
