@media screen and (max-width: 430px) {
  .ancho {
    max-width: 430px;
  }
  .hideMobile {
    display: flex;
  }

  .flexHorizontal {
    flex-direction: column;
  }
  .horizontalSection {
    flex-direction: column;
  }
  .izqArticle {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .izqArticle h1 {
    text-align: center;
  }
  .izqArticle .subtitulo {
    font-size: 20px;
  }

  /*header-------------*/
  .contacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contactoElemento {
    width: 50%;
    display: flex;
    flex-direction: row;
  }
  .iconosRedes {
    flex-direction: row;
    margin: auto;
    width: 40%;
  }
  /*MENU RESPONSIVE*/
  .segundoHeader {
    position: static;
    transform: none;
    padding: 5px 0 0 0;
    flex-direction: column;
  }
  .logo {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .logo i {
    display: flex;
    font-size: 30px;
    cursor: pointer;
  }
  #iconomenu {
    display: block;
  }
  .menuContenedor {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .menuContenedor li {
    width: 100%;
    padding: 8px 0;
    border-top: 2px solid #3c3c3c;
  }
  .menuContenedor a {
    display: block;
    width: 100%;
    border-radius: 0;
    border: 0;
    text-align: center;
  }
  #menu {
    display: none;
  }
  /*banner 1------*/
  .bannerUno {
    display: none;
  }
  .bannerContenedor {
    display: none;
  }
  .vacio {
    display: none;
  }
  .textoBanner {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  /*Carrousel*/
  .tarjetasBanner {
    position: static;
    top: 0;
  }
  .slide {
    min-width: 80%;
    height: 400px;
  }
  .slide-buttons {
    width: 100%;
    left: 0;
    top: 40%;
  }
  #slide-container::-webkit-scrollbar {
    display: block; /*oculto la scrollbar aun permitiendo el scroll*/
  }
  /*ACORDEON-----*/
  .acordeon {
    max-width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .tituloAcordeon {
    width: 130px;
  }
  .contenidoAcordeon {
    max-width: 200px;
  }
  .contenedorCards {
    flex-direction: column;
    align-items: center;
  }

  /*GALERIA!! ----- YA MERO ACABOO*/
  .galeria {
    margin-top: 15px;
    width: 100%;
  }
  footer {
    text-align: center;
  }
  footer .ancho {
    flex-direction: column;
  }
  .tercioArticle {
    width: 100%;
  }
  .tercioArticle p {
    text-align: center;
    padding: 0;
  }
  .tercioArticle .iconosRedes {
    flex-direction: row;
  }
  .tercioArticle .iconosRedes i {
    margin: 0;
  }
}
